* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  background-color: rgb(35, 37, 46);
  padding: 0;
  margin: 0;
  margin-left: 80px;
  margin-right: 80px;
  height: 100%;
}
